
<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <%= image_tag 'マンガ.jpg', size: '450x500' %>
    </div>
    <div class="col-6">
      <h2>
        好きなマンガを共有できるマンガ紹介サイト<br>
         <strong>マンガforU</strong><br>
      　あなたの好みのマンガが
       見つかる！！
      </h2>
    </div>
  </div>
</div>